<div class="row">
    <div class="col-md-4">
        <div class="card text-white mb-3" style="background-color: #0d6efd;">
            <div class="card-header">Total IPs</div>
            <div class="card-body">
                <h5 class="card-title">{{ data.stats.pingable }} / {{ data.stats.scanned }}</h5>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card text-white mb-3" style="background-color: #198754;">
            <div class="card-header">Open Ports</div>
            <div class="card-body">
                <h5 class="card-title">{{ data.stats.open_ports }}</h5>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card text-white mb-3" style="background-color: #dc3545;">
            <div class="card-header">Dead IPs</div>
            <div class="card-body">
                <h5 class="card-title">{{ data.stats.dead }}</h5>
            </div>
        </div>
    </div>
</div>
